.background-div {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #add8e6);;
  height: 97vh;
  overflow: hidden;
}

.rag-div {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 55px;
  font-weight: 700;
  width: 70vw;
  text-align: center;
  margin-left: 15vw;
  letter-spacing: 2px;
  margin-top: 50px;
}

.sub-div {
  color: #5C5C5C;
  font-family: "Montserrat", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  width: 70vw;
  text-align: center;
  margin-left: 15vw;
  margin-top: 50px;
}

.button-div {
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}